
header {
    background: $gradient;
    position: sticky;
    top: 0;
    z-index: 9999;
    text-align: center;
    margin: 0 -40px;
    padding: 20px 10px 0 10px;
    border-radius: 10px;
}
.scroll {
    animation: show 1s;
    animation-fill-mode: forwards;
}

h1 {
    display: none;
    background: $gradient;
    background-clip: text;
    color: transparent;
    margin-bottom: 5px;
}
nav{ 
    ul {
        display: flex;
        justify-content: center;
        li {
            padding: 20px;
        }
    }
}
.active {
    animation: opacityShow 1s;
}
