.slider {
    text-align: center;
    margin: 0 -40px;

    &-item {
        padding: 30px;
        
        p {
            color: white;
            text-shadow: 1px 1px 2px black, 0 0 1em #ff5d00;
            position: absolute;
            bottom: 15%;
            left: 35%;
            transform: translate(-50%);
            max-width: 300px;            
            padding: 10px;
            @include border-gr;
            background-color: rgba($black, $alpha);
        }
    }   
    &-image {
        padding: 20px;
        margin-bottom: 10px;
        //background: linear-gradient(left, #ff5d00 0%, #000000 100%);;
        background: $gradient;
        border-radius: 5px;
        &:hover {
            img {
                transform: scale(1.05);
                opacity: .8;
            }
        }
    }
    img {
        max-width: 100%;
        height: 600px;
        display: inline;
        transition: .5s;
        @include border-gr;
    }
}
